
.indicator {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    margin-top: -5px; /* defeat bootstrap nav padding */
    color: rgba(255, 255, 255, 1.0) /* defeat bootstrap alpha channel */
}

.indicator-blink {
    @extend .indicator;
    color: rgba(255, 255, 255, 0.33)
}